.login-page .body {
  padding: 40px;
  width: 200px;
  height: 150px;
  margin-left: 13px;
  margin-top: 20px;
  background: #FFFAF0; }

.login-page .text-fields {
  margin-top: -110px;
  margin-left: 20px;
  width: 200px;
  height: 150px; }

.login-page .images {
  width: 50px;
  height: 140px;
  margin-left: -35px;
  margin-top: -60px; }

.login-page .img {
  width: 70%;
  left: 0px;
  right: 0px;
  margin-top: 15px; }

.login-page .username {
  margin-top: 10px; }

.login-page div.login-btn {
  margin-top: 10px;
  margin-left: 70px;
  width: 275px; }

.login-page #remember-me {
  width: 40px;
  height: 20px; }

.login-page label {
  color: #BEBEBE; }

.login-page .checkbox {
  display: flex;
  margin-top: 30px;
  margin-left: -50px;
  height: 20px; }

.login-page .register-now {
  margin-left: -170px;
  margin-top: 20px; }

.login-page .forgot-passwordd {
  margin-top: -20px;
  margin-left: 150px; }

.login-page a {
  text-decoration: none;
  color: #00bcd4;
  white-space: nowrap; }

.login-page .btn-and-down-textt {
  display: block;
  width: 275px;
  height: 80px;
  margin-left: -40px;
  margin-top: 10px; }
